body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.login-register {
    background: #93D3D8 0% 0% no-repeat padding-box;
    border-radius: 35px 35px 0px 0px;
    height: 130px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
}

.login-register a {
    font-size: 20px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-register a.secondary {
    margin-top: 20px;
}

.lines {
    width: 100%;
}

.lines.up {
    margin-top: -50px;
}

.lines.down {
    position: fixed;
    left: 0;
    bottom: 50px;
}

.logo-wrapper {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.logo-wrapper .logo {
    width: 50%;
    height: auto;
}

a {
    text-decoration: none;
    text-align: center;
}

.primary {
    background: #F47368 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
}

.secondary {
    background: none;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
}

main {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

.register {
    height: 100vh;
    justify-content: space-between;
}

.register input {
    width: 100%;
}

.login {
    height: 100vh;
    justify-content: space-between;
}

.services-description {
    height: 100vh;
    justify-content: space-between;
}

.register-panel {
    flex: 0 1 80%;
    background: #93D3D8 0% 0% no-repeat padding-box;
    border-radius: 35px 35px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px;
}

.login-panel {
    flex: 0 1 80%;
    background: #93D3D8 0% 0% no-repeat padding-box;
    border-radius: 35px 35px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px;
}

.service-description-panel {
    flex: 0 1 80%;
    background: #93D3D8 0% 0% no-repeat padding-box;
    border-radius: 35px 35px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px;
}

.register-panel h3 {
    font-weight: 500;
    font-size: 32px;
    color: white;
}

.login-panel h3 {
    font-weight: 500;
    font-size: 32px;
    color: white;
}

.service-description-panel h3 {
    font-weight: 500;
    font-size: 32px;
    color: white;
}

input {
    height: 40px;
    border: none;
    border-radius: 10px;
}


.input-big {
    height: 150px;
    border: none;
    border-radius: 10px;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.register-form *:not(:first-child) {
    margin-top: 20px;
}

.login-form *:not(:first-child) {
    margin-top: 20px;
}

a:hover {
    color: green;
}

.register a {
    font-size: 12px;
}

.login a {
    font-size: 12px;
}

.services-description a {
    font-size: 12px;
}

.choice {
    background-color: #93D3D8;
    padding-top: 86px;
}

.category {
    background-color: #93D3D8;
    padding-top: 86px;
    min-height: 100vh;
}

.category .tile {
    width: 100%;
    height: 100px;
}

.category h2 {
    color: white;
    text-align: center;
}

.category .tile-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.statuses {
    background-color: #93D3D8;
    padding-top: 86px;
    height: 2000px; /* TO DO in a professional way */
}

.tiles-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.status-tiles-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    height: 297px;
    width: calc(50% - 30px);
    display: flex;
    padding: 10px;
}

.tile-content {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    font-size: 20px;

}

.status-tile {
    height: 89px;
    width: 100%;
    display: flex;
    padding: 10px;
}

.status-tile-content {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;

}

.top-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 81px;
    z-index: 9999;
    background-color: white;
}

.service-description-text{
    color: white;
}

.back a {
    font-size: 40px;
    color: #F47368;
    position: relative;
    top: 70px;
}

.service-graphic {
    width: 25%;
    height: 100%;
}

.service-name {
    width: 67%;
    height: 50%;
    float: right;
}