@model Pzph.ServiceLayer.Categories.Domain.Category

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Name</title>
    <link rel="stylesheet" href="~/styles/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<main class="category">
    <div class="back">
        <a onclick="window.history.back();return false;">
            <
        </a>
    </div>
    <h2>@Model.Name</h2>
    <div class="tiles-panel">
        @foreach (var service in Model.Services)
        {
            <div class="tile">
                <div class="tile-content">
                    <a asp-action="Service" asp-route-serviceId="@service.Id">
                        @service.Name
                    </a>
                </div>
            </div>
        }
    </div>
</main>
</body>
</html>