@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>PH Service - Main</title>
    <link rel="stylesheet" href="~/styles/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

<div class="top-menu">
    LOREM ipsum
</div>
<main class="choice">
    <div class="tiles-panel">
        <div class="tile">
            <div class="tile-content">
                Turystyka
            </div>
        </div>
        <div class="tile">
            <div class="tile-content">
                Transport
            </div>
        </div>
        <div class="tile">
            <div class="tile-content">
                Budownictwo
            </div>
        </div>
        <div class="tile">
            <div class="tile-content">
                Gastronomia
            </div>
        </div>
        <div class="tile">
            <div class="tile-content">
                IT
            </div>
        </div>
        <div class="tile">
            <div class="tile-content">
                Machnika samochodowa
            </div>
        </div>
        <div class="tile">
            <div class="tile-content">
                Fryzjerstwo
            </div>
        </div>
        <div class="tile">
            <div class="tile-content">
                Fotografia
            </div>
        </div>
        <div class="tile">
            <div class="tile-content">
                Ogrodnictwo
            </div>
        </div>
        <div class="tile">
            <div class="tile-content">
                Medycyna
            </div>
        </div>
        <div class="tile">
            <div class="tile-content">
                Elektronika
            </div>
        </div>
        <div class="tile">
            <div class="tile-content">
                Geodezja
            </div>
        </div>
    </div>
</main>
</body>
</html>