@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>PH Service - Nowa usługa</title>
    <link rel="stylesheet" href="~/styles/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<main class="login">
    <div class="login-logo">
        PH Service
    </div>
    <div class="login-panel">
        <div class="back">
            <
        </div>
        <h3>Nowa<br/>usługa</h3>
        <div class="login-form">
            <input name="service-name" placeholder="Nazwa"/>
            <input class="input-big" name="service-description" placeholder="Opis"/>
        </div>
        <a class="primary">Dodaj</a>
    </div>
</main>
</body>
</html>