@model Pzph.WebApplication.Models.Users.RegisterModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>PH Service - Zaloguj się</title>
    <link rel="stylesheet" href="~/styles/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<main class="register">
    <div class="register-logo">
        PH Service
    </div>
    <div class="register-panel">
        <h3>Utwórz<br/>Konto</h3>
        <div class="register-form">
            <form asp-controller="Home" asp-action="Register" method="post">
                <input asp-for="Email" placeholder="E-mail"/>
                <input asp-for="Name" placeholder="Nazwa"/>
                <input asp-for="PhoneNumber" placeholder="Numer telefonu" />
                <input asp-for="Password" type="password" placeholder="Hasło"/>
                <br/>
                <input type="submit" class="primary" value="Zarejestruj się" />
            </form>
        </div>
    </div>
</main>
</body>
</html>